<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<style>
    body{
        padding: 20px;
        margin: 0;
    }
    form{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    label{
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }
    .body{
        flex-basis: 100%;
    }
    .image{
        flex-basis: 100%;
    }
    .body textarea{
        width: 100%;
    }
    #categories{
        padding: 5px 10px;
    }
</style>
<body>
    <form action="posts/newpost" style="transition: 0.5s all;" class="forPosts" method="POST" enctype="multipart/form-data">
        <label for="category">
            Chose a Category
            <select name="categories" id="categories">
                
            </select>
        </label>
        <label for="author" class="author">
            Author
            <textarea name="author" id="" cols="30" rows="10"></textarea>
        </label>
        <label for="title" class="title">
            Title
            <textarea name="title" id="" cols="30" rows="10"></textarea>
        </label>
        <label for="body" class="body">
            Post Body
            <textarea name="body" id="" cols="30" rows="10"></textarea>
        </label>
        <label for="image" class="image">
            <input type="file" name="file">
        </label>
        <label for="date" class="date">
            Date
            <input type="date" name="date">
        </label>
        <label for="time" class="time">
            Time
            <input type="time" name="time">
        </label>
        <input style="flex-basis: 100%; padding: 10px; background: green; color: white;" type="submit" value="post" name = 'post'>
    </form>

        <form action="/createTable" class="createcategory" style="margin: 40px 0;" method="post" >
            <h1 style="flex-basis: 100%; text-align: center;">new category?</h1>
            <label for="name">
                <input type="text" placeholder="name of new category" style="padding: 5px 10px;" name="name">
            </label>

            <input type="submit" value="create">
        </form>


    <script src="/assets/js/admin.js"></script>
</body>
</html>